/clase2-ESTS/TS/node_modules/
/clase4-async_handling/observables/node_modules/
/clase7-npm_intro/node_modules/
/clase8-express_1/desafio/node_modules/
/clase8-express_1/desafio/package-lock.json
/clase9-express_2/desafio/node_modules/
/clase9-express_2/desafio/package-lock.json
/clase9-express_2/desafio_ent/node_modules/
/clase9-express_2/desafio_ent/package-lock.json
